

body{
  margin:0;
}

h1,h2,h3,h4{
  /*font-family: Droid Sans;*/
  font-family: Arvo;
  color: #3e3e3e;
}
p{
  /*font-family: Lora;*/
  color: #656565;
  line-height: 26px;
  font-size: 16px;
  font-family: Ubuntu;
  font-weight: lighter;
}
p a{
  color: #913FD8;
  font-size: 16px;
}
a{
  color: white;
  font-size: 14px;
  text-transform: initial;
}
a:active,
a:hover{
  color: #913FD8;
}

section{
  padding: 4em 0;
}
#header{
  padding: 0;
  position: relative;
  height: 30em;
}
#header.smallerHeader{
  height: 20em;

}

/* button */
  .signup-btn{
    background: #0DCAC5;
    border: 0;
    border-radius: 9px;
    color: white;
    width: 10em;
    font-size: 17px;
    padding: 10px 0;

    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;

  }
  .signup-btn:hover{
background-color:#0CA5A0;
  }
  /* Button 4a http://tympanus.net/codrops/2013/06/13/creative-button-styles/ */
    .btn-4a:before {
      left: 130%;
      top: 0;
    }

    .btn-4a:hover:before {
      left: 85%;
    }

  .signup-btn:before{
    position: absolute;
    height: 100%;
    font-size: 16px;
    line-height: 3.5;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .signup-btn:after{
    content: '';
    position: absolute;
    z-index: -1;
  }

  .icon-arrow-right:before {
    content: ">";
    margin-top: -8px;
  }


  /* Effect 11: text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */
  .contact-us-link{
  }
.contact-us-link a {
    position: relative;
    overflow: hidden;
  padding: 0 4px;
  height: 1em;

  padding: 10px 0;
  /*border-top: 2px solid #0972b4;*/
  color: #0972b4;
  text-shadow: none;
      text-decoration: none;
} 

.contact-us-link a::before {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 10px 0;
  max-width: 0;
  /*border-bottom: 2px solid #fff;*/
  color: #fff;
  content: attr(data-hover);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
      margin-top: -4px;

}

.contact-us-link a:hover::before,
.contact-us-link a:focus::before {
  max-width: 100%;
}




/* icons */
    #ppl-icon{
      width: 38px;
    }
    #connect-icon{
      width: 3.4em;

    }
    #expand-icon{
      width: 53px;

    }

/* topNav */
  #topNav{
    position: absolute;
    top: 0;
    /* right: 0; */
    /* margin-right: 3em; */
    width: 80%;
    /*background: gray;*/
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1;
  }
  #topNav ul{
    position: absolute;
    right: 0;
    top: 0;
        margin-right: -62px;
  }
  #topNav li,
  #topNav a{
    list-style-type: none;
    text-decoration: none;
    font-size: 13px;
    font-family: Ubuntu;
    margin-bottom: 10px;
    color: white;
    display: inline-block;
    margin-right: 12px;
    position: relative;
  }

  #topNav li a{
    /*opacity: .5;*/
  }
  #topNav li a:hover{
    /*opacity: .8;*/
    color:#0DCAC5;
    
  }
  #topNav a.logo{
    /*margin-left: 2em;*/
    margin-top: 1em;
    font-size: 16px;
  }
  a:hover{
    color:#0DCAC5;
  }

  /* http://tympanus.net/Development/CreativeLinkEffects/ */
/*  .cl-effect-12 li a::before, 
.cl-effect-12 li a::after{
      position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(10,10,10,0.7);
    border-radius: 50%;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
    transform: translateX(-50%) translateY(-50%) scale(0.2);
  }
  .cl-effect-12 li a::after {
    width: 35px;
    height: 35px;
    border-width: 3px;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    z-index: -1;
}
.cl-effect-12 a:hover::before,
.cl-effect-12 a:hover::after,
.cl-effect-12 a:focus::before,
.cl-effect-12 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}*/
/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
  margin-right: 5px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.cl-effect-1 a::after {
  margin-left: 5px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}


/* header */
  #header{
    text-align: center;
    background-color: #913FD8;
    background: url('images/yopro_table.jpeg') center no-repeat;
    background-size: cover;
    /*background-position-y: 5em;*/
  }
  #header > div > div{
    padding: 4em 0;
  }
  #faq #header{
    background: url('images/bubble.jpeg') center no-repeat;
    background-size: cover;
    text-align: center;
  }
  .darkenFade{
    width: 100%;
    height: 100%;
    position: relative;
    background: #e1e1e1;
    background: linear-gradient(to top,rgba(30,30,30,0),rgba(30,30,30,.6));
  }

  #mc_embed_signup{
    background-color: transparent !important;
  }
  #mc_embed_signup input.email{
    padding: 9px 12px;
    width: 28em;
  }
  #mc_embed_signup_scroll{
    width: 94%;
    margin: 0 auto;
  }
  #mc_embed_signup input.email:focus{
    /*-webkit-box-shadow:1px 2px 2px rgba(44, 84, 129, 1) inset;
    -moz-box-shadow:1px 2px 2px rgba(44, 84, 129, 1) inset;
    box-shadow:1px 1px 2px rgba(44, 84, 129, 1) inset;
    outline: none;*/
    outline:none !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(44, 84, 129, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(44, 84, 129, .6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0px rgba(44, 84, 129, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0px rgba(44, 84, 129, .6);
    border:1px solid #2C5481 !important;
  }
  #header h1{
    font-size: 30px;
    font-family: Arvo, sans-serif;
    font-weight: 100;
    /*font-style: italic;*/
    color: white;
  }
  #header h2{
    color: #D6D6D6;
    font-weight: lighter;
    font-size: 14px;
    width: 94%;
    margin: 0 auto;
    line-height: 22px;
    margin-top: -12px;
    margin-bottom: 18px;
  }

/* info section */
  #info{
    background-color: white;
    /*padding: 7em 1em 5em;*/
    padding: 5em 1em 1em;
  }
  #info > div p{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    /*margin-top: 50px;*/
    font-size: 14px;
    line-height: 24px;

    font-family: Ubuntu;
    font-weight: lighter;
    font-size: 14px;
  }
  #info > div{
    /*width: 80%;*/
    margin: 0 auto;
    max-width: 1100px;
    overflow: hidden;
  }
  
  #info img{
    /*margin: 0 auto;*/
    display: block;
    margin: 0 auto 25px;
  }
  #info > div > div{
    text-align: center;
    margin-bottom: 3em;
  }
  #info > div > div h4{
    margin: 5px;
    font-size: 18px;
    color: #151515;
    font-weight: lighter;
  }
  #info > div > div img{
    margin-bottom: 2em;
  }
  /*#info > div > div img:nth-of-type(1){
    width: 18em;
  }
  #info > div > div:nth-of-type(2) img{
    width: 14em;
  }
  #info > div > div:nth-of-type(3) img{
    width: 10em;
  }*/

/* social */
  #social{
    padding: 3em 1em;
    margin: 0 auto;
    text-align: center;
  }
  hr{
    padding: 0;
    border: 0px;
    border-top: 1px solid #F3F3F3;
    width: 70%;
    margin: 0 auto;
  }
  #social h3{
    line-height: 33px;
  }
  #social ul{
    padding: 0;
  }
  #social ul li{
    display: inline-block;
    margin: 20px;
    list-style-type: none;
  }
  #social img{
    width: 36px;
    display: inline-block;
  }
  /*#social li:nth-of-type(2) img{
    width: 43px;
  }
  #social li:nth-of-type(3) img{
    width: 43px;
  }*/

/* posts */
  #posts{
    padding: 1em;
    width: 80%;
    margin: 0 auto;
  }

/* faq */
  #faqSection > div{
    /*width: 50%;
    margin:0 auto;
    padding: 5em 0;*/
    width: 86%;
    margin: 0 auto;
    padding: 0em 0;
  }
  #faqSection p{

    width: 70%;
    font-size: 16px;
  }
  #faqSection h2{
    font-size: 18px;
    margin-top: 3em;
    font-weight: 500;
  }

  /*iframe{
    height: 141em;
  }*/

/* vision */
  #vision > div{
    /*width: 50%;
    text-align: center;*/
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  #vision{
        padding: 3em 0;
  }
  #vision h3{
    line-height: 38px;
    color: #656565;
    font-weight: 400;
    font-size: 16px;
  }


/* about page */
  #about-profiles{
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .about-profile-container{
    width: 32%;
    display: inline-block;
    overflow: hidden;
    padding: 5em;
    text-align: left;
  }
  .prof-img-container{
    height: 12em;
    overflow: hidden;
  }
  .about-profile-container img{
    width: 100%;
  }
  .about-profile-container h4{
    margin: 0;
    margin-top: 10px;
  }
  .about-profile-container h4 a{
    color: #0DCAC5;
    text-decoration: none;
  }
  .about-profile-container h4 a:hover{
    color: #0CA5A0;
  }
  .about-profile-container h6{
    margin: 0;
    margin: 0;
    font-family: Ubuntu;
    color: gray;
    font-weight: lighter;
    margin-top: 3px;
  }

#typeformSection{
    padding: 5em 0;
  
}

.center-info-section{
  text-align: center;
}
.center-info-section > div{
  width: 40%;
  margin: 0 auto;
}
.center-info-section > div h2{
  text-align: center;
}
.center-info-section > div p{
  /*text-align: left;*/
}

/* support */
  #support .center-info-section form{
    margin-top: 2em;
  }


/* footer */
  footer{
    padding: 1em 0;
    background-color: #1F1F1F;
    text-align: center;
    color: #969696;
    line-height: 25px;
    font-family: Arvo;
    /*background: url(images/pizza.jpeg) no-repeat center;*/
    background-size: cover;
    position: relative;
    background-position-y:-19em;
    /*height: 10em;*/
  }
  footer ul{
    text-align: left;
  }
  footer ul li{
    font-size: 14px;
    display: inline-block;
    padding-right: 4em;
  }
  .white-to-fade{
    height: 10em;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: #e1e1e1;*/
    /*background: linear-gradient(to top,rgba(255, 255, 255, .3),rgb(255, 255, 255));*/
  }

@media (min-width: 768px){
  #mc_embed_signup input.email{
    padding: 9px 12px !important;
    width: 28em !important;
    display: inline-block !important;
  }
  #mc_embed_signup .button{
    width: auto !important;
    display: inline-block !important;
  }
  #mc_embed_signup .clear {
    display: inline-block !important;
    width: auto !important;
  }

  #info > div > div{
    width: 33%;
    /*display: inline-block;*/
    float: left;
    /*padding: 3em;*/
  }
}

@media(min-width: 1200px){
  section > div{
    width: 80%;
    margin: 0 auto;
  }

  #header > div > div{
    padding: 9em;
    width: 52%;
    margin:0 auto;
  }
  #header.smallerHeader > div > div{
    padding: 7em;

  }
  /*#header.smallerHeader > div{
    padding: 5em;

  }*/
    #about #header > div > div{
      padding: 5em;
    }
  #header h1{
    font-size: 38px;
  }
  #header h2{
    /*width: 40%;*/
    font-size: 16px;
    line-height: 27px;
  }

  #info{
    padding: 9em 1em 5em;
  }
  #info > div > div{
    width: 33%;
    /*display: inline-block;*/
    float: left;
    /*padding: 3em;*/
  }
  #info > div p{
    width: 85%;
  }

  #social{
    padding: 7em 1em;
  }

  #posts{
    padding: 5em 0;
    width: 55%;
  }

  #faqSection > div{
    width: 50%;
    margin:0 auto;
    padding: 0em 0;
  }

  #vision{
    padding: 7em 0;
  }
  #vision > div{
    width: 50%;
  }

}


