

body{
  margin:0;
}

h1,h2,h3,h4{
  font-family: Droid Sans;
  color: #3e3e3e;
}
p{
  /*font-family: Lora;*/
  color: #313131;
  line-height: 26px;
  font-size: 16px;
  font-family: Ubuntu;
  font-weight: lighter;
}
p a{
  color: #9100FF;
  font-size: 16px;
}
a{
  color: white;
  font-size: 14px;
  text-transform: initial;
}
a:active,
a:hover{
  color: #9100FF;
}

section{
  padding: 4em 0;
}
#header{
  padding: 0;
}

/* button */
  .signup-btn{
    background: #0DCAC5;
    border: 0;
    border-radius: 9px;
    color: white;
    width: 10em;
    font-size: 17px;
    padding: 10px 22px;
    cursor: pointer;
  }
  .signup-btn:hover{
    opacity: .9;
  }

/* icons */
    #ppl-icon{
      width: 3.2em;
    }
    #connect-icon{
      width: 3.4em;

    }
    #expand-icon{
      width: 53px;

    }

/* topNav */
  #topNav{
    position: absolute;
    top: 0;
    /* right: 0; */
    /* margin-right: 3em; */
    width: 80%;
    /*background: gray;*/
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1;
  }
  #topNav ul{
    position: absolute;
    right: 0;
    top: 0;
        margin-right: -62px;
  }
  #topNav li,
  #topNav a{
    list-style-type: none;
    text-decoration: none;
    font-size: 13px;
    font-family: Ubuntu;
    margin-bottom: 10px;
    color: white;
    display: inline-block;
    margin-right: 2em;
  }

  #topNav li a{
    /*opacity: .5;*/
  }
  #topNav li a:hover{
    /*opacity: .8;*/
    color:#0DCAC5;
    
  }
  #topNav a.logo{
    /*margin-left: 2em;*/
    margin-top: 1em;
    font-size: 16px;
  }
  a:hover{
    color:#0DCAC5;
  }

/* header */
  #header{
    text-align: center;
    background-color: #9100FF;
    background: url('images/yopro_table.jpeg') center no-repeat;
    background-size: cover;
    /*background-position-y: 5em;*/
  }
  #header > div > div{
    padding: 4em 0;
  }
  #faq #header{
    background: url('images/bubble.jpeg') center no-repeat;
    background-size: cover;
    text-align: center;
  }
  .darkenFade{
    width: 100%;
    height: 100%;
    position: relative;
    background: #e1e1e1;
    background: linear-gradient(to top,rgba(30,30,30,0),rgba(30,30,30,.6));
  }

  #mc_embed_signup{
    background-color: transparent !important;
  }
  #mc_embed_signup input.email{
    padding: 9px 12px;
    width: 28em;
  }
  #mc_embed_signup_scroll{
    width: 94%;
    margin: 0 auto;
  }
  #mc_embed_signup input.email:focus{
    /*-webkit-box-shadow:1px 2px 2px rgba(44, 84, 129, 1) inset;
    -moz-box-shadow:1px 2px 2px rgba(44, 84, 129, 1) inset;
    box-shadow:1px 1px 2px rgba(44, 84, 129, 1) inset;
    outline: none;*/
    outline:none !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(44, 84, 129, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(44, 84, 129, .6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0px rgba(44, 84, 129, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0px rgba(44, 84, 129, .6);
    border:1px solid #2C5481 !important;
  }
  #header h1{
    font-size: 30px;
    font-family: Arvo, sans-serif;
    font-weight: 100;
    /*font-style: italic;*/
    color: white;
  }
  #header h2{
    color: #D6D6D6;
    font-weight: lighter;
    font-size: 14px;
    width: 94%;
    margin: 0 auto;
    line-height: 22px;
    margin-top: -12px;
    margin-bottom: 18px;
  }

/* info section */
  #info{
    background-color: white;
    /*padding: 7em 1em 5em;*/
    padding: 5em 1em 1em;
  }
  #info > div p{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    /*margin-top: 50px;*/
    font-size: 14px;
    line-height: 24px;

    font-family: Ubuntu;
    font-weight: lighter;
    font-size: 14px;
  }
  #info > div{
    /*width: 80%;*/
    margin: 0 auto;
    max-width: 1100px;
    overflow: hidden;
  }
  
  #info img{
    /*margin: 0 auto;*/
    display: block;
    margin: 0 auto 25px;
  }
  #info > div > div{
    text-align: center;
    margin-bottom: 3em;
  }
  #info > div > div h4{
    margin: 5px;
    font-size: 19px;
    color: #151515;
    font-weight: lighter;
  }
  #info > div > div img{
    margin-bottom: 2em;
  }
  /*#info > div > div img:nth-of-type(1){
    width: 18em;
  }
  #info > div > div:nth-of-type(2) img{
    width: 14em;
  }
  #info > div > div:nth-of-type(3) img{
    width: 10em;
  }*/

/* social */
  #social{
    padding: 3em 1em;
    margin: 0 auto;
    text-align: center;
  }
  hr{
    padding: 0;
    border: 0px;
    border-top: 1px solid #F3F3F3;
    width: 70%;
    margin: 0 auto;
  }
  #social h3{
    line-height: 33px;
  }
  #social ul{
    padding: 0;
  }
  #social ul li{
    display: inline-block;
    margin: 20px;
    list-style-type: none;
  }
  #social img{
    width: 36px;
    display: inline-block;
  }
  /*#social li:nth-of-type(2) img{
    width: 43px;
  }
  #social li:nth-of-type(3) img{
    width: 43px;
  }*/

/* posts */
  #posts{
    padding: 1em;
    width: 80%;
    margin: 0 auto;
  }

/* faq */
  #faqSection > div{
    /*width: 50%;
    margin:0 auto;
    padding: 5em 0;*/
    width: 86%;
    margin: 0 auto;
    padding: 0em 0;
  }
  #faqSection p{

    width: 70%;
    font-size: 16px;
  }
  #faqSection h2{
    font-size: 18px;
    margin-top: 3em;
  }

  /*iframe{
    height: 141em;
  }*/

/* vision */
  #vision > div{
    /*width: 50%;
    text-align: center;*/
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  #vision{
        padding: 3em 0;
  }
  #vision h3{
    line-height: 38px;
    color: #949494;
    font-weight: 400;
  }


#typeformSection{
    padding: 5em 0;
  
}

/* footer */
  footer{
    padding: 4em 0;
    background-color: #1F1F1F;
    text-align: center;
    color: #969696;
    line-height: 25px;
    font-family: Arvo;
  }
  footer ul{
    text-align: left;
  }
  footer ul li{
    font-size: 14px;
    display: inline-block;
    padding-right: 4em;
  }

@media (min-width: 768px){
  #mc_embed_signup input.email{
    padding: 9px 12px !important;
    width: 28em !important;
    display: inline-block !important;
  }
  #mc_embed_signup .button{
    width: auto !important;
    display: inline-block !important;
  }
  #mc_embed_signup .clear {
    display: inline-block !important;
    width: auto !important;
  }

  #info > div > div{
    width: 33%;
    /*display: inline-block;*/
    float: left;
    /*padding: 3em;*/
  }
}

@media(min-width: 1200px){
  section > div{
    width: 80%;
    margin: 0 auto;
  }

  #header > div > div{
    padding: 12em;
    width: 52%;
    margin:0 auto;
  }
  #header.smallerHeader > div{
    padding: 5em;

  }
    #about #header > div > div{
      padding: 5em;
    }
  #header h1{
    font-size: 38px;
  }
  #header h2{
    /*width: 40%;*/
    font-size: 16px;
    line-height: 27px;
  }

  #info{
    padding: 9em 1em 5em;
  }
  #info > div > div{
    width: 33%;
    /*display: inline-block;*/
    float: left;
    /*padding: 3em;*/
  }
  #info > div p{
    width: 85%;
  }

  #social{
    padding: 7em 1em;
  }

  #posts{
    padding: 5em 0;
    width: 55%;
  }

  #faqSection > div{
    width: 50%;
    margin:0 auto;
    padding: 0em 0;
  }

  #vision{
    padding: 7em 0;
  }
  #vision > div{
    width: 50%;
  }

}


